@tailwind base;
@tailwind components;
@tailwind utilities;

@media (max-width: 760px) {
  /* hide scrollbar */
  body::-webkit-scrollbar {
    display: none;
  }

  body {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }
}

