@tailwind base;
@tailwind components;
@tailwind utilities;

@page {
  size: A4;
  margin: 1rem;
}

@media print {
  body * {
    color: black !important;
  }
}

.navbar-center .menu li a:active {
  @apply !bg-base-200 !text-gray-900;
}
