<div *ngIf="isAuthPage()" class="bg-background">
  <router-outlet></router-outlet>
</div>
<div *ngIf="!isAuthPage()">
  <lectoraat-smart-energy-navbar class="hidden md:block">
  </lectoraat-smart-energy-navbar>
  <lectoraat-smart-energy-mobile-navbar class="block md:hidden">
  </lectoraat-smart-energy-mobile-navbar>

  <div
    class="flex justify-center min-h-screen pb-[5rem] md:pb-3 md:pt-[6rem] bg-background p-5"
  >
    <div class="flex justify-center w-[55rem]">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
