<smart-energy-navbar *ngIf="!isAuthPage" class="hidden md:block print:!hidden" />
<smart-energy-navbar-mobile *ngIf="!isAuthPage" class="block md:hidden print:!hidden" />

<div
  class="app-component bg-base-200 h-screen overflow-y-auto"
  [class]="isAuthPage ? '' : ' print:!p-0'"
>
  <div class="flex justify-center min-h-full px-2 pb-[5rem] pt-[6rem] md:pb-3">
    <div class="w-full max-w-[65rem]">
      <router-outlet />
    </div>
  </div>
  <smart-energy-footer *ngIf="!isAuthPage" class="hidden md:block print:!hidden" />
</div>
